* {
    box-sizing: border-box; /* Assurer un bon comportement des marges et des paddings */
}

body {
    font-family: 'Assistant', sans-serif;
    background-color: #1E90FF;
    color: white;
    margin: 0;
    padding: 0;
    height: 110vh; /* Prendre toute la hauteur de l'écran */
}

.container {
    background-color: #00BFFF;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    height: calc(100% - 40px); /* Ajuster pour le padding */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer le contenu verticalement */
    align-items: center; /* Centrer le contenu horizontalement */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrer tout le texte */
}

header {
    margin-bottom: 20px; /* Espacement sous le header */
}

.logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.logo img {
    width: 100px;
    height: auto;
}

.question {
    margin: 15px 0; /* Espacement entre les questions */
}

.question p {
    margin: 10px 0; /* Espacement autour des paragraphes */
}

button {
    background-color: #1E90FF; /* Couleur du bouton */
    color: white;
    border: none;
    border-radius: 25px; /* Coins arrondis */
    padding: 8px 15px; /* Réduire l'espacement interne */
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px; /* Réduire la taille de la police */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animation de transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ombre pour le bouton */
    width: 100%; /* Rendre les boutons de largeur complète */
}

button:hover {
    background-color: #00BFFF; /* Couleur au survol */
    transform: translateY(-2px); /* Légère élévation au survol */
}

.options {
    display: flex;
    flex-direction: column; /* Aligner les boutons verticalement */
    width: 100%; /* S'assurer que les options prennent toute la largeur */
}
